<h1>Here are all the poor bastards (aka employees):</h1>

<% if @employees.any?() %>
  <h3>Here are all the employees:</h3>

  <ul>
    <% @employees.each() do |employee| %>
    <li><a href="/employees/<%= employee.id() %>"><%= employee.name() %></a></li>
    <% end %>
  </ul>

<% else %>
  <h3>Sadly there are no employees yet to exploit.</h3>
  <% end %>


<h1>Please add an employee:</h1>

<form action="/employees/new" method="post">
  <div class="form-group">
    <label for="name">Please enter employee's name:</label>
    <input id="name" name="name" type="test">
  </div>
  <label for="division_id">Select a Division</label>
  <select id='division_id' name='division_id' type='text'>
    <% @divisions.each() do |division| %>
      <option value="<%= division.id()%>"> <%= division.name() %> </option>
    <% end %>
  </select>
  <button type="submit" class="btn-success">Add Employee!</button>
</form>
